.Match {
}
.Match-title {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 1em;
	position: relative;
}
.Match-title-note {
	position: absolute;
	right: 0;
	bottom: 0;
	font-weight: normal;
	font-size: 14px;
	color: #aaa;
}
.Match-loading {
	color: #9999;
}
.Match-team {
}
.Match-team-vs {
	margin: 16px 0 14px 0;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
}
.Match-team-player {
	padding: 0.3em 0.6em;
	display: flex;
	cursor: pointer;
}
.Match-team-player:first-child {
	padding-top: 0.4em;
}
.Match-team-player:last-child {
	padding-bottom: 0.4em;
}
.Match-team-player-viewing {
	font-weight: bold;
}
.Match-team-player-searched:not(.Match-team-player-viewing) {
	font-style: italic;
}
.Match-team-player-stat {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	white-space: nowrap;
	overflow: hidden;
}
.Match-team-player-stat-name {
	flex-grow: 2;
}
.Match-team-player-stat:last-child {
	text-align: right;
}


/** team colors **/
.Match-team-winners { background: rgba(0,255,0,0.05); }
.Match-team-winners .Match-team-player:hover { background: rgba(0,255,0,0.2); }
.Match-team-losers { background: rgba(0,0,0,0.05); }
.Match-team-losers .Match-team-player:hover { background: rgba(0,0,0,0.2); }
.Match-team-blue { background: rgba(0,0,255,0.05); }
.Match-team-blue .Match-team-player:hover { background: rgba(0,0,255,0.2); }
.Match-team-red { background: rgba(255,0,0,0.05); }
.Match-team-red .Match-team-player:hover { background: rgba(255,0,0,0.2); }
