.SearchBox {
  display: flex;
  align-items: center;
  padding: 12px 18px;
  border-radius: 4px;
  width: 300px;
  border: solid 1px rgba(218, 228, 242, 0.5);
  background-color: #fff;
  transition: all 0.20s ease-in-out;
}

.SearchBox:focus-within {
  box-shadow: 0 0 3px rgba(77, 124, 254, 0.5);
  border: 1px solid rgba(77, 124, 254, 0.5);
}

.SearchBox img {
  height: 13px;
  width: 13px;
  margin-right: 16px;
}

.SearchBox input {
  flex: 1;
  color: #252631;
  font-size: 13px;
  border: none;
  background: transparent;
}

.SearchBox input:focus {
  outline: none;
}