.SearchSummoner >.SearchBox {
	width: auto;
}

.SearchSummoner >.SearchBox >input {
	font-size: 20px;
}

.SearchSummoner-error {
	padding-top: 0.5em;
	text-align: center;
	font-size: 14px;
	color: #c33;
}
