
body {
	font-family: arial;
	/* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	letter-spacing: 0.01em;
}


.Site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
.Site >header, .Site >footer {
	background-color: rgba(37,38,49,0.97);
}
.Site >header {
	padding: 20px 20px;
	border-bottom: 1px solid rgba(204,204,204,0.9);
}
.Site >main {
	flex: 1;
	padding: 20px 20px;
	background-color: rgba(245,246,250,0.75);
}
.Site >footer {
	padding: 20px 20px;
	border-top: 1px solid rgba(204,204,204,0.9);
}


.Page {
}

.Page-Modules {
	display: flex;
	/*align-items: center;*/
}
.Page-Modules >.Module {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
}
.Page-Modules >.Module:nth-child(1) {
	margin-right: 10px;
}
.Page-Modules >.Module:nth-child(2) {
	margin-left: 10px;
}
